@page
@model FindUserNameModel
@{
    ViewData["Title"] = "找回用户名";
}
@section JS
    {
    <script>
        $(function() {
            $(".chk").click(function(e) {
                e.preventDefault();
                var self = $(this);
                var tag = self.attr("tag");
                var hidetag = self.attr("hidetag");
                $("." + tag).show();
                $("." + hidetag).hide();
                $("#tag").val(tag);
                $(".submit").attr("disabled", false);
                self.addClass("btn-default").removeClass("btn-primary").siblings().addClass("btn-primary")
                    .removeClass("btn-default");
            });
            $(".sendcode").click(function() {
                var mobile = $("#mobile").val();
                var self = $(this);
                $.ajax({
                    type: 'POST',
                    url: '/mobile/sendcode',
                    data: { mobile: mobile, type: 3 },
                    success: function(result) {
                        if (result.success) {
                            $(".sendcode").attr("disabled", true);
                            //计时器
                            var time = new Time(60,
                                1,
                                function(sec) {
                                    self.attr("disabled", true).html("重发(" + sec + "s)");
                                },
                                function() {
                                    self.attr("disabled", false).html("发送验证码");
                                });
                            time.start();
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function() {
                        alert("请重新尝试发送短信!");
                    },
                    dataType: 'json'
                });
            });
            @{
            if (Model.FindByMobile)
            {
                @Html.Raw("$(\".mobilechk\").click();");
            }
        }
        });

    </script>
}
<div class=" col-md-12 col-sm-12">
    <div role="tabpanel" class="tab-pane active" id="_register">
        <p>
            <button type="button" tag="idcard" hidetag="mobile" class="btn btn-default btn-lg chk">姓名+身份证号验证</button>
            <button type="button" tag="mobile" hidetag="idcard" class="btn btn-primary btn-lg chk mobilechk">手机+验证码验证</button>
        </p>

        <form method="post" action="/FindUserName?handler=FindByIdCardNo" class="idcard">
            <div class="box">
                <h3 class="title">找回登录用户名</h3>
                <div class="form">
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">姓名：</label>
                        <div class="col-sm-7">
                            @Html.AntiForgeryToken()
                            <input type="text" name="name" class="form-control" placeholder="姓名">
                        </div>
                        <span class="col-sm-3 remarks">请输入姓名</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">身份证号码：</label>
                        <div class="col-sm-7">
                            <input type="text" name="idcardno" class="form-control" placeholder="身份证">
                        </div>
                        <span class="col-sm-3 remarks">请输入身份证号码</span>
                    </div>
                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <p class="bg-warning">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <div class="pane-footer">
                    <input type="submit" class="submit btn btn-primary" onclick="this.disabled=true; this.value='提交中...'; this.form.submit();" value="提交" />
                </div>
            </div>
        </form>
        <form method="post" action="/FindUserName?handler=FindByMobileCode" class="mobile" style="display: none">
            <div class="box">
                <h3 class="title">找回登录用户名</h3>
                <div class="form">
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">手机号码：</label>
                        <div class="col-sm-5">
                            @Html.AntiForgeryToken()
                            <input type="text" name="mobile" id="mobile" class="form-control" placeholder="手机号码,最好输入您在人力资源预留的手机号码">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary sendcode" id="sendCode">发送验证码</button>
                        </div>
                        <span class="col-sm-3 remarks">请输入手机号码</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">验证码：</label>
                        <div class="col-sm-7">
                            <input name="code" class="form-control" placeholder="验证码">
                        </div>
                        <span class="col-sm-3 remarks">请输入验证码</span>
                    </div>
                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <p class="bg-warning">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <div class="pane-footer">
                    <input type="submit" disabled="disabled" class="submit btn btn-primary" onclick="this.disabled=true; this.value='提交中...'; this.form.submit();" value="提交" />
                </div>
            </div>
        </form>
    </div>
</div>