@page
@model ModifyPasswordModel
@{
    ViewData["Title"] = "修改密码";
}
<div class=" col-md-12 col-sm-12">
    <div role="tabpanel" class="tab-pane active" id="_register">
        <form method="post">
            <div class="box">
                <h3 class="title">修改密码,请输入新的密码</h3>
                <div class="form">
                    <div class="form-group row">
                        <label for="password1" class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="密码,6位到19位大小" maxlength="19" autoComplete="off">
                        </div>
                        <span class="col-sm-3 remarks">请输入密码</span>
                    </div>
                    <div class="form-group row">
                        <label for="password2" class="col-sm-2 control-label">再次键入密码：</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="password2" id="password2" placeholder="密码" maxlength="19" autoComplete="off">
                        </div>
                        <span class="col-sm-3 remarks">请输入密码</span>
                    </div>
                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    }

                </div>
                <div class="pane-footer"><input type="submit" class="btn btn-primary" onclick="this.disabled=true; this.value='提交中...'; this.form.submit();" value="提交" /></div>
            </div>
        </form>
    </div>
</div>