@page
@model ModifyMobileModel
@{
    ViewData["Title"] = "修改手机号码";
}

<div class=" col-md-12 col-sm-12">
    <div role="tabpanel" class="tab-pane active" id="_register">
        <form method="post">
            <div class="box">
                <h3 class="title">修改手机号码,请输入新的手机号码</h3>
                <div class="form">
                    <div class="form-group row">
                        <label for="mobile" class="col-sm-2 control-label">手机号码：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="手机号码,最好输入您在人力资源预留的手机号码">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary sendcode" id="sendCode" mobileType="2">发送验证码</button>
                        </div>
                        <span class="col-sm-3 remarks">请输入手机号码</span>
                    </div>
                    <div class="form-group row">
                        <label for="code" class="col-sm-2 control-label">验证码：</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="code" id="code" placeholder="验证码">
                        </div>
                        <span class="col-sm-3 remarks">请输入验证码</span>
                    </div>
                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    }

                </div>
                <div class="pane-footer"><input type="submit" class="btn btn-primary"  onclick="this.disabled=true; this.value='提交中...'; this.form.submit();" value="提交"/></div>
            </div>
        </form>
    </div>
</div>