@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "重置密码";
}
<div class="col-md-12 col-sm-12">
    <div role="tabpanel" class="tab-pane active" id="_register">
        <form method="post">
            <div class="box">
                <h3 class="title">重置密码</h3>
                <div class="form">
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">姓名：</label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Input.Name" class="form-control" placeholder="姓名">
                        </div>
                        <span class="col-sm-3 remarks">请输入姓名</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">身份证号码：</label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Input.IdCardNo" class="form-control" placeholder="身份证">
                        </div>
                        <span class="col-sm-3 remarks">请输入身份证</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label">手机号码：</label>
                        <div class="col-sm-5">
                            <input type="text" asp-for="Input.Mobile" id="mobile" class="form-control" placeholder="手机号码,最好输入您在人力资源预留的手机号码">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary sendcode" id="sendCode" mobileType="6">发送验证码</button>
                        </div>
                        <span class="col-sm-3 remarks">请输入手机号码</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">验证码：</label>
                        <div class="col-sm-7">
                            <input asp-for="Input.Code" class="form-control" placeholder="验证码">
                        </div>
                        <span class="col-sm-3 remarks">请输入验证码</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-7">
                            <input type="password" asp-for="Input.Password1" class="form-control" placeholder="密码,6位到19位大小" maxlength="19" autoComplete="off">
                        </div>
                        <span class="col-sm-3 remarks">请输入密码</span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">再次键入密码：</label>
                        <div class="col-sm-7">
                            <input type="password" asp-for="Input.Password2" class="form-control" placeholder="密码" maxlength="19" autoComplete="off">
                        </div>
                        <span class="col-sm-3 remarks">请输入密码</span>
                    </div>
                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    }

                </div>
                <div class="pane-footer"><input type="submit" class="btn btn-primary" onclick="this.disabled=true; this.value='提交中...'; this.form.submit();" value="提交" /></div>
            </div>
        </form>
    </div>
</div>