<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
  <Section Name="General">
    <Parameter Name="StaticFileSiteHost" Value="http://localhost:10103"/>
  </Section>

  <Section Name="IdSvr">
    <Parameter Name="IssuerUri" Value="http://localhost:10103"/>
    <Parameter Name="RequireHttps" Value="false"/>
    <Parameter Name="ScanLoginServiceUri" Value="http://localhost:10104"/>
  </Section>
 
  <Section Name="RabbitMQ">
    <Parameter Name="HostAddress" Value="rabbitmq://localhost/" />
    <Parameter Name="Username" Value="guest" />
    <Parameter Name="Password" Value="guest" />
  </Section>
  <Section Name="RSA">
    <Parameter Name="Key" Value="bb1434cd-446e-4529-8afc-a64029e16da4"/>
  </Section>
  <Section Name="Diagnostics">
    <!--Critial, Error, Warning, Informational, Verbose, LogAlways-->
    <Parameter Name="EventSourceLevel" Value="Informational" />
    <!-- 
        Verbose = 0,
        Debug = 1,
        Information = 2,
        Warning = 3,
        Error = 4,
        Fatal = 5
    -->
    <Parameter Name="SerilogEventLevel" Value="Debug" />
    <Parameter Name="ElasticsearchHost" Value="http://127.0.0.1:9200" />
  </Section>

  <Section Name="RedisConfig">
    <Parameter Name="Host" Value="127.0.0.1:6379"/>
  </Section>
</Settings>
