@{
    ViewData["Titile"] = "FabricSSO Demo 单点登录平台";
    Layout = "_NewLayout";
}

<div class="login-form account-login">
    <form>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="input">
            <a href="~/.well-known/openid-configuration" class="btn btn-info btn-lg btn-block">发现文档</a>
            <a href="~/grants" class="btn btn-info btn-lg btn-block">登录</a>
            <br />
            <p class="bg-danger">Tips:此页面对于普通用户没有意义~~</p>

        </div>
    </form>

</div>