<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - ManageConsole.Web</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/fontawesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/select2/4.0.2/css/select2.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/jquery-confirm/3.3.1/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/css/pnotify.custom.min.css" rel="stylesheet">
    <link href="~/css/loaders.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom.min.css" rel="stylesheet" />
</head>
<body class="nav-md">
    @Html.AntiForgeryToken()
    @RenderBody()

    @{
        var userName = string.Empty;
        if (this.Context.User.Identity.IsAuthenticated && Context.User.Claims.FirstOrDefault(u => u.Type == "name") != null)
        {
            userName = Context.User.Claims.FirstOrDefault(u => u.Type == "name").Value;
        }

    }
    <input type="hidden" id="_username" value="@(userName)" />
    <div id="react-app" class="container body">

    </div>
    <!-- jQuery -->
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.3.5/jstree.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/pnotify/3.2.1/pnotify.js"></script>
    <script src="https://cdn.bootcss.com/select2/4.0.2/js/select2.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-tagsinput/1.3.3/jquery.tagsinput.min.js"></script>
    <!-- Custom Theme Scripts -->

    <script src="~/build/vendor.js"></script>
    <script src="~/build/main-client.js?v=20180828"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
